<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>

    <servlet>    
        <servlet-name>BBAnnouncementsWebService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        </servlet>
    <servlet-mapping>
        <servlet-name>BBAnnouncementsWebService</servlet-name>
        <url-pattern>/BBAnnouncementsWebService</url-pattern>
    </servlet-mapping>
    <servlet>    
        <servlet-name>BBCalendarWebService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        </servlet>
    <servlet-mapping>
        <servlet-name>BBCalendarWebService</servlet-name>
        <url-pattern>/BBCalendarWebService</url-pattern>
    </servlet-mapping>

    <servlet>    
        <servlet-name>BBContentWebService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        </servlet>
    <servlet-mapping>
        <servlet-name>BBContentWebService</servlet-name>
        <url-pattern>/BBContentWebService</url-pattern>
    </servlet-mapping>

    <servlet>    
        <servlet-name>BBCourseWebService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        </servlet>
    <servlet-mapping>
        <servlet-name>BBCourseWebService</servlet-name>
        <url-pattern>/BBCourseWebService</url-pattern>
    </servlet-mapping>

    <servlet>    
        <servlet-name>BBDiscussionBoardWebService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        </servlet>
    <servlet-mapping>
        <servlet-name>BBDiscussionBoardWebService</servlet-name>
        <url-pattern>/BBDiscussionBoardWebService</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>BBGradebookWebService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        </servlet>
    <servlet-mapping>
        <servlet-name>BBGradebookWebService</servlet-name>
        <url-pattern>/BBGradebookWebService</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BBGroupWebService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        </servlet>
    <servlet-mapping>
        <servlet-name>BBGroupWebService</servlet-name>
        <url-pattern>/BBGroupWebService</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BBUserWebService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        </servlet>
    <servlet-mapping>
        <servlet-name>BBUserWebService</servlet-name>
        <url-pattern>/BBUserWebService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BbWebservices</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        </servlet>
    <servlet-mapping>
        <servlet-name>BbWebservices</servlet-name>
        <url-pattern>/BbWebservices</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <jsp-config>
        <taglib>
            <taglib-uri>/bbUI</taglib-uri>
            <taglib-location>/WEB-INF/config/taglibs/bbUI.tld</taglib-location>
        </taglib>
  
        <taglib>
            <taglib-uri>/bbData</taglib-uri>
            <taglib-location>/WEB-INF/config/taglibs/bbData.tld</taglib-location>
        </taglib>
    </jsp-config>
	<context-param> 
	    <description>BB blackboard\config\service-config.properties blackboard.service.log.param.logdef settings do not 
	    		allow configuration of higher verbosity level for particular namespace. 
	    		With this parameter higher verbosity messages are dynamically converted to max level that goes into 
	    		the log (blackboard.platform.log.log.getVerbosityLevel())
	    		Possible values corresponding to LogService.Verbosity are integers that may differ for BB versions, in v.7.3 they are from 0 to 4
				FATAL - 0
				ERROR - 1
	    		WARNING - 2
	    		INFORMATION - 3
	    		DEBUG - 4
	    </description> 
	    <param-name>logSeverityOverride</param-name> 
	    <param-value>5</param-value> 
	</context-param> 
    
</web-app>


